:root {
    --color1: #4283ae;
    --color2: #333750;
    --color3: #17191F;
}
header, footer {
    padding: 10px;
    background: url(/static/content/bg.png) center center no-repeat;
    background-color: var(--color3);
}
section {
    padding: 10px 0;
}
.background {
    background: url(/static/content/bg1.jpg) center center no-repeat;
    background-color: var(--color3);
    background-size: cover;
}
pp001-about1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link_without_underline {
    text-decoration: none;
}
.card {
    border-color: var(--color1)!important;
    width: 20rem;
}
.card .btn {
    border-radius: 0;
}
.line {
    width: 200px;
    height: 3px;
    background-color: var(--color1);
}
.linew {
    width: 200px;
    height: 3px;
    background-color: white;
}
.btn {
    border-width: 0;
    background: var(--color1);
}
.btn:hover {
    border-width: 0;
    background: var(--color2);
}
.btn:focus {
    box-shadow: none;
    background: var(--color1);
  }
.nav-item:hover {
    background: var(--color2);
    border-color: var(--color2);
    border-radius: 0.25rem;
}
.color1 {
    color: var(--color1);
}
.color2 {
    color: var(--color2);
}
.bg1 {
    background-color: var(--color1);
}
.bg2 {
    background-color: var(--color2);
}
.pp001-bgcard1 {
    background: url(/static/content/services.png) center center no-repeat;
    background-color:rgba(0,0,0,.3);
    
}
.bgg2 {
background: var(--color1);
background: -moz-linear-gradient(left, var(--color1) 0%, #207cca 50%, #2989d8 50%, #207cca 50%, var(--color2) 100%);
background:-webkit-linear-gradient(left, var(--color1) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color2) 100%);
background: linear-gradient(to right, var(--color1) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color2) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color1), endColorstr=var(--color2),GradientType=1 );
background-size: contain;
}
.bgg1 {
background: var(--color2);
background: -moz-linear-gradient(left, var(--color2) 0%, #207cca 50%, #2989d8 50%, #207cca 50%, var(--color1) 100%);
background:-webkit-linear-gradient(left, var(--color2) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color1) 100%);
background: linear-gradient(to right, var(--color2) 0%,#207cca 50%,#2989d8 50%,#207cca 50%, var(--color1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--color2), endColorstr=var(--color1),GradientType=1 );
background-size: contain;
}


