{% extends "layout.html" %}

{% block body %}


  <div class="container-fluid mt-4 mb-4">
    
    <div class="row">


      <div class="col-md-6 col-sm-12">
        
        <p class="h2">Общество с ограниченной ответственностью <strong>«ЭНЕРГОгрупп»</strong></p>
        <div class="line mb-4"></div>
          
          <ul class="list-group list-group-flush mb-4">
            <li class="list-group-item"><strong>Директор:</strong> Безвершенко Василий Сергеевич</li>
            <li class="list-group-item"><strong>Свидетельство ЕГРЮЛ:</strong> 59 № 004360320 от 01.06.2012</li>
            <li class="list-group-item"><strong>ИНН:</strong> 5902889059</li>
            <li class="list-group-item"><strong>КПП:</strong> 590401001</li>
            <li class="list-group-item"><strong>ОГРН:</strong> 1125902003831</li>
            <li class="list-group-item"><strong>Юридический адрес:</strong> РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522</li>
            <li class="list-group-item"><strong>Почтовый адрес:</strong> РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522</li>
          </ul>

          <p class="h4">
            Телефон: +7(342) 200-85-05 <br>
            Сотовый Телефон: +7 912-88-97-709 <br>
            Электронная почта: <a href="mailto:expert@eg59.ru" class="color1">expert@eg59.ru</a>
          </p>
          
        <p class="h5 mt-5">Банковские реквизиты</strong></p>
        <div class="line mb-4"></div>
        <p class="h6"> 
          Номер счета: 40702810223000034148
          ПОВОЛЖСКИЙ ФИЛИАЛ АО "РАЙФФАЙЗЕНБАНК" Г. НИЖНИЙ НОВГОРОД 
          БИК: 042202847
          Корр. cчет.: 30101810300000000847
        </p>  

   

               
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <img src="static/content/contacts.jpg" alt="" class="img-fluid img-thumbnail" style="max-height: 800px;">
      </div>  
    </div>
  </div>


{% endblock %}
