{% extends "layout.html" %}

{% block body %}

<h2>Контакты и реквизиты</h2>

<div class="container mb-4">
    <p class="mb-1">
      Общество с ограниченной ответственностью «ЭНЕРГОгрупп»

      Директор: Безвершенко Василий Сергеевич
      Свидетельство о внесении в ЕГРЮЛ: 59 № 004360320 от 01.06.2012
      ИНН: 5902889059
      КПП:590401001
      ОГРН: 1125902003831
      Юридический адрес: РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522
      Почтовый адрес: РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522
      
      Банковские реквизиты
      Номер счета: 40702810223000034148
      ПОВОЛЖСКИЙ ФИЛИАЛ АО "РАЙФФАЙЗЕНБАНК" Г. НИЖНИЙ НОВГОРОД 
      БИК: 042202847
      Корр. cчет.: 30101810300000000847
      Телефон: +7(342) 200-85-05
      Электронная почта: office@eg59.ru
    </p>

    <p class="mb-0">Группа компаний <a href="https://eg59.ru/" target="_blank">"ЭНЕРГО group"</a></p>
  </div>



  <div class="content_container">
    <div class="air p30"></div>
    


{% endblock %}


