{% extends "layout.html" %}

{% block body %}

<p class="h2 m-4">Эксперты в области Электротехнических работ и Оборудования</p>
<div class="line m-3"></div>

<section>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-3">
      <img src="static/content/experts/andreev_small.jpg" alt="..." class="img-fluid img-thumbnail">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-3">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Андреев Александр Андреевич, Исполнительный Директор</div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Диплом Инженер "Автоматизация технологических процессов и производства" ГОУ ВПО ПГТУ</div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">СРО</div>
            - НОПРИЗ: П-096363<br>
            - НОСТРОЙ: С-59-093161
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Повышение квалификации</div>
            - Организация и управление инженерными изысканиями, в том числе на особо опасных, технически сложных и уникальных объектах<br>
            - Проектирование зданий и сооружений<br>
            - Строительный контроль и управление качеством в строительстве<br>
            - ГОиЧС "Руководители (работники) структурных подразделений, уполномоченных на решение задачи в области гражданской обороны в организациях, не отнесенных к категориям по гражданской обороне"
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Промышленная безопасность</div>
            - А.1, Б.1.17, Б.1.2, Б.1.6, Б.1.19, Б.9.32, Б.2.7, Б.2.1, Б.4.1, Б.8.23, Б.9.3, Г.1.1, Д.2<br>
            - V группа по электробезопасности, Охрана труда, Пожарно-технический минимум
          </div>
        </li>
      </ol>
    </div>

  </div>
</div>
</section>

<section class="bgg2">
<div class="container">
  <div class="row">

  <div class="col-md-6 col-sm-12 mt-3 mb-3">
      <img src="static/content/experts/bezvershenko_small.jpg" alt="..." class="img-fluid img-thumbnail">
    </div>
    <div class="col-md-6 col-sm-12 mt-3 mb-3">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Безвершенко Василий Сергеевич, Директор</div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Диплом Инженер "Автоматизация технологических процессов и производства" ГОУ ВПО ПГТУ</div>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Сертификат соответствия аудитора ГОСТ Р ИСО 9001-2015</div>
            - № MSS.RU.04088.19.А1 от 12.11.2019г.
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">СРО</div>
            - НОПРИЗ: П-096364<br>
            - НОСТРОЙ: С-59-093180
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Повышени квалификации</div>
            - Организация и управление инженерными изысканиями, в том числе на особо опасных, технически сложных и уникальных объектах<br>
            - Проектирование зданий и сооружений<br>
            - Строительный контроль и управление качеством в строительстве<br>
            - ГОиЧС "Руководители и специалисты не отнесенных к категориям по ГО"          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Промышленная безопасность</div>
            - A.1, Б.1.2, Б.1.19, Б.1.11, Б.1.17, Б.1.14, Б.4.2, Б.9.4, Б.9.31, Г.1.1, Д.2<br>
            - V группа по электробезопасности, Охрана труда, Пожарно-технический минимум
          </div>
        </li>
      </ol>
    </div>

  </div>
</div>
</section>



<section>
  <div class="container">
    <div class="row">
  
    <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <img src="static/content/experts/volskiy_small.jpg" alt="..." class="img-fluid img-thumbnail">
      </div>
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
        <ol class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Вольский Владимир Львович, Главный инженер</div>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Дипломы</div>
              - Диплом Инженер "Электропривод и автоматики промышленных установок и технологических комплексов" ГОУ ВПО ПГТУ
              - Диплом Младший инженер-электромеханик "Эксплуатация автоматизированных систем" Пермский нефтянной колледж
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Сертификат соответствия аудитора ГОСТ Р ИСО 9001-2015</div>
              - № MSS.RU.04088.19.А3 от 12.11.2019г
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">СРО</div>
              - НОПРИЗ: ПИ-031393<br>
              - НОСТРОЙ: С-59-064534
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">ЛНК</div>
              - Квалификационное удостоверение ВД, ТК<br>
              - Удостоверение проверки знаний правил безопасности РОСТЕХНАДЗОРА<br>
              - УПК "Тепловой метод Неразрушающего контроля"<br>
              - УПК "Вибродиагностический метод Неразрушающего контроля"
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Повышение квалификации</div>
              - Организация и управление инженерными изысканиями, в том числе на особо опасных, технически сложных и уникальных объектах<br>
              - Строительный контроль и управление качеством в строительстве<br>
              - Контроль состояния, диагностика и обслуживание высоковольного маслонаполненного оборудования<br>
              - Эффективная организация и исполнение строительных работ. Контроль качества<br>
              - Монтаж, техническое обслуживание и ремонт систем пожарной и охранно-пожарной сигнализации и их элементов включая диспетчеризацию и проведение пусконаладочных работ<br>
              - Управление качеством (Осуществление функций генерального подрядчика (для специалистов строительной организации)<br>
              - Управление качеством (Осуществление функций заказчика-застройщика)<br>
              - Обеспечение экологической безопасности руководителями и специалистами общехозяйственных систем управления<br>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">Промышленная безопасность</div>
              - А.1, Б.9.31, Б.9.32, Б.1.17, Г.1.1, Б.2.1, Б.2.7, Б.8.23, Б.8.26, Б.1.14, Г.3.1, Г.3.2, Г.3.3<br>
              - V группа по электробезопасности, Охрана труда, Пожарно-технический минимум
            </div>
          </li>
        </ol>
      </div>
  
    </div>
  </div>
  </section>


  <section class="bgg1">
    <div class="container">
      <div class="row">
    
      <div class="col-md-6 col-sm-12 mt-3 mb-3">
          <img src="static/content/experts/pyankow_small.jpg" alt="..." class="img-fluid img-thumbnail">
        </div>
        <div class="col-md-6 col-sm-12 mt-3 mb-3">
          <ol class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Пьянков Константин Владимирович, заместитель главного инженера по РЗиА</div>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Дипломы</div>
                - Диплом Бакалавр "Электроэнергетика и электротехника" ФГБОУВО ПНИПУ
                - Диплом Техник "Автоматизированные системы обработки информации и управления (по отраслям)" ГОУ СПО "Добрянский гуманитарно-технологический техникум им.П.И.Сюзева"
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">НАКС</div>
                - Специалист сварочного производства III уровень (технолог-сварщик) СК.1, СК.2
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">ЛНК</div>
                - Квалификационное удостоверение УК, ВИК<br>
                - Удостоверение проверки знаний правил безопасности РОСТЕХНАДЗОРА<br>
                - УПК "Визуальный и измерительный метод Неразрушающего контроля"<br>
                - УПК "Ультразвуковой метод Неразрушающего контроля"
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Повышение квалификации</div>
                - Установка и эксплуатация оборудования бесперебойного электроснабжения<br>
                - Инженерно-геодезические изыскания<br>
                - Деятельность по производсту, монтажу, наладке, техническому обслуживанию и ремонту медицинской техники<br>
                - Монтаж, техническое обслуживание и ремонт систем пожарной и охранно-пожарной сигнализации и их элементов включая диспетчеризацию и проведение пусконаладочных работ<br>
                - Наружные системы и сети электроснабжения, слаботочные системы, диспетчеризация, автоматизация, управление инженерными системами, в том числе на технически сложных, особо опасных объектах<br>
                - Эксплуатация, ремонт и наладка элегазовых выключателей
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Промышленная безопасность</div>
                - А.1, Г.1.1, Г.3.3, Б.1.3, Б.1.9, Б.1.17, Б.1.11, Б.1.19, Б.2.1, Б.2.7, Б.4.1<br>
                - V группа по электробезопасности, Охрана труда, Пожарно-технический минимум
              </div>
            </li>
          </ol>
        </div>
    
      </div>
    </div>
    </section>










































<!-- <div class="album py-5 bgg2">
  <div class="container">
    <div class="row">
      <h1>ЭКСПЕРТЫ</h1>
      <div class="linew mb-4"></div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Andreev.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Андреев Александр Андреевич</strong><br>Исполнительный директор</p>
            <div class="d-flex justify-content-between align-items-center">             
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>           
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Bezvershenko.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Безвершенко Василий Сергеевич</strong><br>Директор</p>
            <div class="d-flex justify-content-between align-items-center">      
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Volskiy.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Вольский Владимир Львович</strong><br>Главный инженер<br></p>
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Pyankov.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Пьянков Константин Владимирович</strong><br>Заместитель главного инженера по
              РЗиА</p>
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Модальные окна -->
<!-- <div class="modal fade" id="Andreev" tabindex="-1" aria-labelledby="AndreevModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AndreevModal">Документы</h5>
      </div>

      <div class="modal-body">
        <h5><strong>Образование:</strong></h5>
        <li>Диплом Инженер "Автоматизация технологических процессов и производства" ГОУ ВПО ПГТУ</li>
        <h5><strong>СРО:</strong></h5>
        <li>НОПРИЗ П-096363</li>
        <li>НОСТРОЙ С-59-093161</li>
        <h5><strong>Промышленная безопасность:</strong></h5>
        <li>А.1, Б.1.17</li>
        <h5><strong>ОТ, ЭБ, ПТМ:</strong></h5>
        <li>V гр. по ЭБ 08/36-479 от 22.12.2021г.</li>
        <h5><strong>Повышение квалификации:</strong></h5>
        <li>ГОиЧС "Руководители (работники) структурных подразделений, уполномоченных на решение задачи в области гражданской обороны в организациях, не отнесенных к категориям по гражданской обороне" №118/21-1030 от 11.04.2019г.</li>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div> -->




{% endblock %}