{% extends "layout.html" %}

{% block body %}



<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <h1>ЭКСПЕРТЫ</h1>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      <!--Андреев А.А.-->
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Andreev.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Андреев Александр Андреевич</strong><br>Исполнительный директор</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Безвершенко В.С.-->
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Bezvershenko.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Безвершенко Василий Сергеевич</strong><br>Директор</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Вольский В.Л.-->
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Volskiy.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Вольский Владимир Львович</strong><br>Главный инженер<br></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Пьянков К.В.-->
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Pyankov.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Пьянков Константин Владимирович</strong><br>Заместитель главного инженера по
              РЗиА</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn">
                <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- Модальные окна -->
<!--Андреев А.А.-->
<div class="modal fade" id="Andreev" tabindex="-1" aria-labelledby="AndreevModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AndreevModal">Документы</h5>
      </div>

      <div class="modal-body">
        <h5><strong>Образование:</strong></h5>
        <li>Диплом Инженер "Автоматизация технологических процессов и производства" ГОУ ВПО ПГТУ</li>
        <h5><strong>СРО:</strong></h5>
        <li>НОПРИЗ П-096363</li>
        <li>НОСТРОЙ С-59-093161</li>
        <h5><strong>Промышленная безопасность:</strong></h5>
        <li>А.1, Б.1.17</li>
        <h5><strong>ОТ, ЭБ, ПТМ:</strong></h5>
        <li>V гр. по ЭБ 08/36-479 от 22.12.2021г.</li>
        <h5><strong>Повышение квалификации:</strong></h5>
        <li>ГОиЧС "Руководители (работники) структурных подразделений, уполномоченных на решение задачи в области гражданской обороны в организациях, не отнесенных к категориям по гражданской обороне" №118/21-1030 от 11.04.2019г.</li>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div>




{% endblock %}