{% extends "layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 mt-3 mb-3 d-flex align-items-center justify-content-center">
      <img src="static/content/cat.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-6 col-sm-12 mb-3 mt-3 d-flex align-items-center justify-content-center">
      <h1>Страница на Экспертизе</h1>
    </div>
  </div>
</div>













































<!-- <div class="album py-5 bgg2">
  <div class="container">
    <div class="row">
      <h1>ЭКСПЕРТЫ</h1>
      <div class="linew mb-4"></div>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Andreev.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Андреев Александр Андреевич</strong><br>Исполнительный директор</p>
            <div class="d-flex justify-content-between align-items-center">             
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>           
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Bezvershenko.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Безвершенко Василий Сергеевич</strong><br>Директор</p>
            <div class="d-flex justify-content-between align-items-center">      
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Volskiy.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Вольский Владимир Львович</strong><br>Главный инженер<br></p>
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card shadow-sm">
          <img src="static/content/experts/Pyankov.jpg">
          <div class="card-body">
            <p class="card-text"><strong>Пьянков Константин Владимирович</strong><br>Заместитель главного инженера по
              РЗиА</p>
            <div class="d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#Andreev">Документы, допуски, разрешения</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- Модальные окна -->
<!-- <div class="modal fade" id="Andreev" tabindex="-1" aria-labelledby="AndreevModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="AndreevModal">Документы</h5>
      </div>

      <div class="modal-body">
        <h5><strong>Образование:</strong></h5>
        <li>Диплом Инженер "Автоматизация технологических процессов и производства" ГОУ ВПО ПГТУ</li>
        <h5><strong>СРО:</strong></h5>
        <li>НОПРИЗ П-096363</li>
        <li>НОСТРОЙ С-59-093161</li>
        <h5><strong>Промышленная безопасность:</strong></h5>
        <li>А.1, Б.1.17</li>
        <h5><strong>ОТ, ЭБ, ПТМ:</strong></h5>
        <li>V гр. по ЭБ 08/36-479 от 22.12.2021г.</li>
        <h5><strong>Повышение квалификации:</strong></h5>
        <li>ГОиЧС "Руководители (работники) структурных подразделений, уполномоченных на решение задачи в области гражданской обороны в организациях, не отнесенных к категориям по гражданской обороне" №118/21-1030 от 11.04.2019г.</li>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>

    </div>
  </div>
</div> -->




{% endblock %}