{% extends "layout.html" %}

{% block body %}


<section class="full-height">
  <div class="container mt-4">
    <p class="h2 color2">Компания Энерго group выполняет широкий спектр судебных и досудебных экспертиз
      элетротехнического оборудования и электротехнических работ по всей России</p>
    <div class="line mb-4 mt-2"></div>
    <div class="row mr-0 align-items-center">
      <div class="col-lg-7 col-sm-12 mt-sm-3 mb-sm-3">
        <img src="static/content/first.jpg" alt="..." class="img-fluid img-thumbnail">
      </div>


      <div class="col-lg-5 col-sm-12 d-flex">

        <div class="col-lg-5 col-sm-12 d-flex align-items-center">



          <div class="row-cols-1">
            <div class="col d-flex align-items-center mb-3">
              <i class="bi bi-clipboard-check-fill" style="font-size: 500%; color: #333750;"></i>
              <div>
                <h4 class="fw-bold mb-0">Экспертиза</h4>
                <p class="h3 color1">Электромонтажных и пусконаладочных работ до 500 кВ</p>
              </div>
            </div>

            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <i class="bi bi-clipboard-check-fill" style="font-size: 500%; color: #333750;"></i>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Промышленного электротехнического оборудования до 500 кВ</p>
                </div>
              </div>
            </div>

            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <i class="bi bi-clipboard-check-fill" style="font-size: 500%; color: #333750;"></i>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Трансформаторных подстанций</p>
                </div>
              </div>
            </div>

            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <i class="bi bi-clipboard-check-fill" style="font-size: 500%; color: #333750;"></i>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Кабельной продукции</p>
                </div>
              </div>
            </div>

            <div class="row row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <i class="bi bi-clipboard-check-fill" style="font-size: 500%; color: #333750;"></i>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Оборудования РЗиА</p>
                </div>
              </div>
            </div>
          </div>



        </div>


      </div>
    </div>
  </div>
  </div>
</section>


<section class="bgg2 full-height">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-sm-12 p-4 align-self-center text-white h3">
        <h2><strong>НАШИ ПРЕИМУЩЕСТВА</strong></h4>
          <ul>
            <li class="mb-3">Штатные эксперты</li>
            <li class="mb-3">Инженерно-технический персонал</li>
            <li class="mb-3">Сметный отдел</li>
            <li class="mb-3">Свой приборный парк</li>
            <li class="mb-3">Своя электролаборатория до 500 кВ</li>
            <li class="mb-3">Своя лаборатория неразрушающего контроля</li>
            <li class="mb-3">Своя аттестация технологии сварки и аттестованные специалисты НАКС</li>
          </ul>

      </div>

      <div class="col-lg-6 col-sm-12 mt-sm-5 mb-sm-5 text-center">
        <img src="static/content/about2.jpg" alt="Описание изображения" class="img-fluid img-thumbnail">
      </div>

    </div>
  </div>
</section>


<section class="full-height">
  <h2 class="ps-3"><strong>Виды работ по независимой судебной и досудебной экспертизе</strong></h4>
    <div class="container">

      <div class="row">
        <div class="col-12 p-4 align-self-center text-white h3">
          <ul class="list-group list-group-flush mb-4 fs-5 lh-1">
            <li class="list-group-item">Анализ рабочей и исполнительной документации на предмет оценки ее полноты,
              соответствия обязательным требованиям, фактическим исходным данных</li>
            <li class="list-group-item">Экспертиза объемов, стоимости (сроков) выполненных электромонтажных и
              пусконаладочных работ</li>
            <li class="list-group-item">Оценка качества и сроков работ, являющихся предметом исследования</li>
            <li class="list-group-item">Экспертиза электротехнического оборудования, оценка соответствия фактических
              характеристик заявленным согласно технической документации на оборудование</li>
            <li class="list-group-item">Изучение процесса возникновения аварийных ситуаций/выявление и установление
              причин возникновения аварии и аварийные ситуации</li>
            <li class="list-group-item">Определение соответствия выполненных работ и технических характеристик
              оборудования ГОСТ/ТУ/ПУЭ, рабочей и другой нормативно-технической документации</li>
            <li class="list-group-item">Анализ технического состояния объекта (предмета) экспертизы</li>
            <li class="list-group-item">Экспертиза исполнительной документации</li>
            <li class="list-group-item">Выезд экспертов на натурный осмотр</li>
          </ul>

        </div>

      </div>
    </div>
</section>


<section class="bgg2 full-height">
  <div class="container-fluid pt-3 pb-3">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <img src="static/content/about3.jpg" alt="Описание изображения" class="img-fluid img-thumbnail">
      </div>
      <div class="col-md-6 col-sm-12 text-white">
        <h2>О компании<br></h4>
          <div class="h4" style="text-indent: 20px;">Многолетний и разностороний опыт работы позволил компании
            ЭНЕРГОгрупп заслужить статус надежного и дисциплинированного
            партнера. Нашими клиентами являются крупные промышленные компании и электрогенерации.<br></div>
          <div class="h4" style="text-indent: 20px;">Фундаментальные знания, навыки и наличие материально-технических
            ресурсов позволяют нам выполнять проекты любого масштаба и
            сложности. Выполняя свою работу, мы делаем ставку на результат и добиваемся значительного увеличения
            ресурсов
            и улучшения технико-экономичеких показателей работы электротехнического оборудования.<br></div>
          <div class="h4" style="text-indent: 20px;">Благодаря тесному взаимодействию на всех этапах работы, мы
            выстраиваем тесные и прозрачные отношения с
            заказчиком. Доверяя нам, Вы передаете проект в руки надежных и компетентных специалистов.<br><br></div>
          <div class="h4">"ЭНЕРГОгрупп"- Энергия в руках профессионалов!</div>
      </div>
    </div>
  </div>
</section>




{% endblock %}