{% extends "layout.html" %}

{% block body %}


<section class="about">
  <div class="container mt-4">
    <p class="h2 color2">Компания Энерго group Экспертиза выполняет широкий спектр судебных и досудебных экспертиз элетротехнического оборудования и электротехнических работ по всей России</p>
    <div class="row mr-0 align-items-center">
      <div class="col-lg-7 col-sm-12 mt-sm-3 mb-sm-3">
        <img src="static/content/about-1.jpg" alt="" class="img-fluid img-thumbnail">
      </div>


      <div class="col-lg-5 col-sm-12 d-flex">
      
        <div class="col-lg-5 col-sm-12 d-flex align-items-center">



          <!--Начало блока1-->
          <div class="row-cols-1">
            <div class="col d-flex align-items-center mb-3">
              <div class="color2">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                  class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                  <path
                    d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
                  </path>
                  <path
                    d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
                  </path>
                </svg>
              </div>
              <div>
                <h4 class="fw-bold mb-0">Экспертиза</h4>
                <p class="h3 color1">Электромонтажных работ до 500 кВ</p>
              </div>
            </div>
            <!--Начало блока2-->
            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <div class="color2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                    class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
                    </path>
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Промышленного электротехнического оборудования до 500 кВ</p>
                </div>
              </div>
            </div>
            <!--Конец блока2-->
            <!--Начало блока3-->
            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <div class="color2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                    class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
                    </path>
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Трансформаторных подстанций</p>
                </div>
              </div>
            </div>
            <!--Конец блока4-->
            <!--Начало блока3-->
            <div class="row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <div class="color2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                    class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
                    </path>
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Кабельной продукции</p>
                </div>
              </div>
            </div>
            <!--Конец блока4-->
            <!--Начало блока5-->
            <div class="row row-cols-1">
              <div class="col d-flex align-items-center mb-3">
                <div class="color2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor"
                    class="bi bi-clipboard-check-fill" viewBox="0 0 16 16">
                    <path
                      d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z">
                    </path>
                    <path
                      d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1Zm6.854 7.354-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708Z">
                    </path>
                  </svg>
                </div>
                <div>
                  <h4 class="fw-bold mb-0">Экспертиза</h4>
                  <p class="h3 color1">Оборудования РЗиА</p>
                </div>
              </div>
            </div>
            <!--Конец блока5-->
          </div>
          <!--Конец блока1-->



        </div>

      
      </div>
    </div>
  </div>
  </div>
</section>



<section class="bgg2">
  <div class="container">
    <div class="row">

      <div class="col-lg-6 col-sm-12 p-4 align-self-center text-white h3">
        <h2><strong></strong>НАШИ ПРЕИМУЩЕСТВА</strong></h4>
        <ul>
          <li>Собственный инженерно-технический персонал</li>
          <li>Собственный сметный отдел</li>
          <li>Свой приборный парк</li>
          <li>Своя лаборатория неразрушающего контроля</li>
          <li>Своя аттестация технологии сварки и аттестованные специалисты НАКС</li>
        </ul>
        
      </div>

      <div class="col-lg-6 col-sm-12 mt-sm-5 mb-sm-5 text-center">
        <img src="static/content/about2.jpg" alt="Описание изображения" class="img-fluid img-thumbnail">
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container color2">
    <div class="row">
      <div class="col-lg-8 col-sm-12 mt-sm-5 mb-sm-5 text-center">
        <img src="static/content/about3.jpg" alt="Описание изображения" class="img-fluid img-thumbnail">
      </div>
      <div class="col-lg-4 col-sm-12 p-4 align-self-center">
        <h4>Год основания: <span class="badge bg2 rounded-pill">2012</span></h4>
        <h4>Реализованных проектов: <span class="badge bg2 rounded-pill">88</span></h4>
        <h4>Квалифицированных сотрудников: <span class="badge bg2 rounded-pill">96</span></h4>
        <h4>Регионов присутствия: <span class="badge bg2 rounded-pill">15</span></h4>
      </div>
    </div>
  </div>
</section>


<section class="bgg1 text-white mb-5 pb-5">
  <div class="container mb-4">
    <div class="row">
      <div class="col-12">
        <h2>О компании<br></h4>
            <div class="h4" style="text-indent: 20px;">За 7 лет успешной работы компания "ЭНЕРГОгрупп Экспертиза" заслужила статус надежного и дисциплинированного
            партнера. Нашими клиентами являются крупные промышленные компании и электрогенерации.<br></div>
            <div class="h4" style="text-indent: 20px;">"Опыт наших инженеров и материально-технические ресурсы позволяют нам выполнять проекты любого масштаба и
            сложности. Выполняя свою работу, мы делаем ставку на результат и добиваемся значительного увеличения ресурсов
            и улучшения технико-экономичеких показателей работы электротехнического оборудования.<br></div>
            <div class="h4" style="text-indent: 20px;">"Благодаря тесному взаимодействию на всех этапах работы, мы выстраиаем тесные и прозрачные отношения с
            заказчиком. Доверяя нам, Вы передаете проект в руки надежных и компетентных специалистов.<br><br></div>
            <div class="h4">"ЭНЕРГОгрупп Экспертиза"- Энергия в руках профессионалов!</div>
            
      </div>
    </div>
</section>






{% endblock %}