<!DOCTYPE html>

<html lang="ru">
    <head>
        <link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="static/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <link href="static/styles.css" rel="stylesheet">
        <link href="static/fontello.css" rel="stylesheet">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!--Желательно чтобы иконка была в формате .ico-->
        <link rel="shortcut icon" href="static/content/favicon.png" type="image/x-icon">
        <!--Вставить здесь переменную-->
        <title>Layout</title>
    </head>

    <body>
        {% block body %}{% endblock %}
    </body>
</html>