<!DOCTYPE html>

<html lang="ru">

<head>
  <link href="static/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="static/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>


  <link href="static/styles.css" rel="stylesheet">
  <link href="static/fontello.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="shortcut icon" href="static/content/logo.png" type="image/x-icon">

  <title>{{title}}</title>
</head>

<!--Текст header-->
<header>
  <div class="container-fluid">
    <div class="row">
       <div class="col-md-6 col-sm-12 mb-3 align-self-start">
        <h1 class="text-white m-0">ЭНЕРГО group</h1>
        <h4 class="text-white m-0">ЭКСПЕРТИЗА</h4>
        <div class="line"></div>
      </div>

      <div class="col-12 text-end">    
        <h6 class="text-white">office@eg59.ru</h6>
        <h6 class="text-white">+7(342) 200-85-05</h6>
        <p class="mb-0 h9 text-white mb-2">Группа компаний <a class="link-info" href="https://eg59.ru/">"ЭНЕРГО group"</a></p>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>
  </div>


  <!-- Модальное окно -->
  <div class="modal fade" id="form1" tabindex="-1" aria-labelledby="form1Modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bgg1 text-white">
        <div class="modal-header">
          <h5 class="modal-title" id="form1Modal">Оставьте заявку на экспертизу и мы с вами свяжемся</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <form action="/email" method="post">
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Имя контактного лица</label>
                    <input type="phone" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Имя" >
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Номер телефона</label>
                    <input type="text" name="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Телефон с кодом города*" >
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Адрес электронной почты</label>
                    <input type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@email.ru*" >
                  </div>

                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Обращение</label>
                    <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="3" placeholder="Текст заявки"></textarea>
                  </div>

                  <button type="submit" class="btn btn-primary">Отправить</button>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                </form>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>

</header>



<body>


<!--Сворачивающаяся навигация-->
  <nav class="navbar navbar-expand-md navbar-dark bgg1">
    <div class="container-fluid">
      <img src="static/content/logo.png" alt="logo1.jpg" style="max-height: 50px" class="img-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse show" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/">О компании</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/services">Виды экспертиз</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/experts">Наши эксперты</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="/contacts">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>





  {% block body %}{% endblock %}

</body>

<footer class="text-muted">
  <div class="container">
    <p class="float-right mb-1">
      <a href="#">Наверх</a>
    </p>
    <p class="mb-1">
      &#169 Общество с ограниченной ответственностью «ЭНЕРГОгрупп»

      Свидетельство о внесении в ЕГРЮЛ: 59 № 004360320 от 01.06.2012
      ИНН: 5902889059
      КПП:590401001
      ОГРН: 1125902003831
      Юридический адрес: РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522
      Почтовый адрес: РФ, 614010, г. Пермь, ул. Героев Хасана, 7А, оф. 522
      
      Телефон: +7(342) 200-85-05
      Электронная почта: office@eg59.ru
    </p>

    <p class="mb-0">Группа компаний <a href="https://eg59.ru/">"ЭНЕРГО group"</a></p>
  </div>
</footer>

</html>