{% extends "layout.html" %}

{% block body %}


<div class="container-fluid mt-3 mb-3">
  <div class="row">
    <div class="col">
      <p class="h2">ВИДЫ ЭКСПЕРТИЗ</p>
      <p class="h3">Проводим экспертизы по всей России</p>
      <div class="line mb-4"></div>
    </div>
  </div>
</div>


<div class="container-fluid mt-3 mb-3">
  <div class="row">

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
      <div class="card border-4 rounded">
        <img src="static/content/services_new14.png" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза электромонтажных и пусконаладочных работ до 500кВ</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new2.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза силового электротехнического оборудования до 500 кВ</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new9.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Промышленного оборудования</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new1.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Оборудования релейной защиты и автоматики</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>
  
    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new8.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза трансформаторных подстанций</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new3.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Трансформаторов различных типов, в том числе крупных силовых трансформаторов</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new4.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза кабельной продукции и кабельных муфт</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new7.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Электроприводов (асинхронных, синхронных, переменного и постоянного тока), насосов</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new12.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Светотехнического оборудования</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new11.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза Линий электропередач</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 d-flex justify-content-center mb-3">
        <div class="card border-4 rounded">
        <img src="static/content/services_new5.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Рецензирование электротехнических экспертиз</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

  </div>
</div>




{% endblock %}