{% extends "layout.html" %}

{% block body %}


<section class="bgg2">
<div class="container">
  <div class="row">
    <p class="h2">ВИДЫ ЭКСПЕРТИЗ</p>
    <p class="h3">Проводим экспертизы по всей России</p>
    <div class="linew mb-4"></div>
  </div>
    <div class="row row-cols-1 row-cols-md-2 mb-3 text-center">
      
      <div class="col">
        <div class="card mb-5 shadow-sm bg2">
        <div class="card-header text-white">
          <h4 class="my-0 font-weight-normal">Экспертиза электромонтажных работ<br> до 500кВ</h4>
        </div>
        <div class="card-body p-0">
          <img src="static/content/services1.jpg" alt="Описание изображения" class="img-fluid mb-2"><br>
          <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Оставить заявку</button>
        </div>
      </div>
      </div>

      <div class="col">
        <div class="card mb-5 shadow-sm bg2">
        <div class="card-header text-white">
          <h4 class="my-0 font-weight-normal">Экспертиза промышленного электротехнического оборудования до 500 кВ</h4>
        </div>
        <div class="card-body p-0">
          <img src="static/content/services2.jpg" alt="Описание изображения" class="img-fluid mb-2"><br>
          <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Оставить заявку</button>
        </div>
      </div>
      </div>
    

    <div class="col">
      <div class="card mb-5 shadow-sm bg2">
      <div class="card-header text-white">
        <h4 class="my-0 font-weight-normal">Экспертиза трансформаторных подстанций</h4>
      </div>
      <div class="card-body p-0">
        <img src="static/content/services3.jpg" alt="Описание изображения" class="img-fluid mb-2">
        <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Оставить заявку</button>
      </div>
    </div>
    </div>
  

  <div class="col">
    <div class="card mb-5 shadow-sm bg2">
    <div class="card-header text-white">
      <h4 class="my-0 font-weight-normal">Экспертиза кабельной продукции</h4>
    </div>
    <div class="card-body p-0">
      <img src="static/content/services4.jpg" alt="Описание изображения" class="img-fluid mb-2">
      <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Оставить заявку</button>
    </div>
  </div>
  </div>

  <div class="col">
    <div class="card mb-5 shadow-sm bg2">
    <div class="card-header text-white">
      <h4 class="my-0 font-weight-normal">Экспертиза оборудования РЗиА</h4>
    </div>
    <div class="card-body p-0">
      <img src="static/content/services5.jpg" alt="Описание изображения" class="img-fluid mb-2">
      <button type="button" class="btn btn-lg btn-block btn-primary mb-2">Оставить заявку</button>
    </div>
  </div>
  </div>

</div>

</div>

</Section>




{% endblock %}