{% extends "layout.html" %}

{% block body %}


<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col">
      <p class="h2">ВИДЫ ЭКСПЕРТИЗ</p>
      <p class="h3">Проводим экспертизы по всей России</p>
      <div class="line mb-4"></div>
    </div>
  </div>
</div>


<div class="container mt-3 mb-3">
  <div class="row">

    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 25rem;">
        <img src="static/content/services14.png" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза электромонтажных и пусконаладочных работ до 500кВ</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 25rem;">
        <img src="static/content/services7.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза силового электротехнического оборудования до 500 кВ</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>
  
    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 25rem;">
        <img src="static/content/services8.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза трансформаторных подстанций</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 25rem;">
        <img src="static/content/services9.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза кабельной продукции</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

    <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center mb-3">
      <div class="card" style="width: 25rem;">
        <img src="static/content/services10.jpg" class="card-img-top" alt="...">
        <div class="card-body bg2 d-flex align-items-center justify-content-center">
          <p class="card-text text-white">Экспертиза оборудования РЗиА</p>
        </div>
        <button type="button" class="btn btn-lgk btn-primary pb-2" data-bs-toggle="modal" data-bs-target="#form1">Оставить заявку</button>
      </div>
    </div>

  </div>
</div>




{% endblock %}